.title {
  margin-left: 10px;
  padding: 5px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.buttonContainer {
  margin: 10px;
}

.text {
  padding: 5px;
}

h1 {
  font-size: 40px;
  margin: 16px 0;
  font-weight: 400;
  letter-spacing: 0em;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.formArea {
  display: flex;
  flex-direction: column;
}

.formField {
  max-width: 300px;
  padding-bottom: 10px;
}

.button {
  width: 50px;
}
