.title {
  margin-left: 10px;
  padding: 5px;
}

.buttonContainer {
  margin: 10px;
}

.text {
  padding: 5px;
}

.fab {
  position: fixed !important;
  bottom: 32px;
  right: 32px;
}

.deleteButton {
  color: red;
}
