.title {
  margin-left: 10px;
  padding: 5px;
}

.buttonContainer {
  margin: 10px;
}


.formArea {
  display: flex;
  flex-direction: column;
}

.formField {
  max-width: 300px;
  padding-bottom: 10px;
}

